{{define "main"}}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preload" href="/static/style.css" as="style">
    <link rel="preload" href="/static/alphinejs.min.js" as="script">

    <link rel="stylesheet" href="/static/style.css">


    <title>App</title>
</head>
<body class="">
    {{template "body" .}}
</body>

<script src="/static/alphinejs.min.js"></script>

</html>
{{end}}


